body,html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  background-color: blue;
  color: white;
  text-align: center;
}
.navigation{
  background-color: green;
  color: white;
  text-align: left;
  height: 200px;
}
.content{
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  line-height: 200px;
  height: 200px;
}
.footer{
  background-color: red;
  color: white;
  text-align: center;
  font-size: 30px;
  height: 50px;
}
p{
  color: white;
}